# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de log y bases de datos temporales
*.log
*.sqlite3
*.db

# Configuración de editor
.vscode/
.idea/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de pruebas y cobertura
htmlcov/
.tox/
.coverage
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Configuración local de Uvicorn o envs
.env
.env.*
